###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs 
[versions]
[part]
name = part
recipe = minitage.recipe.cmmi
url = ${mirrors:gentoo}/distfiles/expat-2.1.0.tar.gz
md5sum = dd7dab7a5fea97d2a6a43f511449b7cd
patches=${buildout:directory}/install_expatconfig.h.diff
patch-options=-Np1
[mirrors]
gentoo = http://gentoo.tiscali.nl

